html
 {
  height: 100%;
  margin: 0
 }
#sidebar-container {
    position: relative;
    width:15vw;
    height:100%;
    float: left;
    background-color: #fafaf8f1;
    color: rgb(227, 236, 240);
    padding-bottom: 130px;

    .navigation-type{
        margin-top: 50px;
    }
    
    .other-containt{
        margin-top: 35px;
    }

    .nav-item{
        width:100%;
        margin-top: 20px;
        height: 35px;
        padding-left: 36px;
        text-align: left;
        font-family: "Arial";
        font-size: 15px;
        font-style: normal;
    }
}
